name: holas

on:
  push:
    branches:
      - main

jobs:
  local-action:
    runs-on: ubuntu-latest
    steps:
      - name: ls
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_KEY }}" >> ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keysacan -H 127.0.1.1 >> ~/.ssh/known_hosts

          cat ~/.ssh/id_rsa